<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(楽曲編集)}"></head>
<body class="bg-danger-subtle">
    <div th:replace="~{layout :: header}"></div>
    <br><br><br><br>
    <h3 class="text-center">楽曲編集</h3>
    <form th:action="@{/albums/{albumId}/musics/{musicId}/edit(albumId=${music.albumId}, musicId=${music.musicId})}"
       th:object="${music}"method="post" class="w-50 mx-auto mt-5 p-4 border rounded shadow bg-body">
        <div class="mb-3">
            <label for="title" class="form-label">タイトル：</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">再生時間：</label>
            <input type="time" id="duration" name="duration" th:field="*{duration}" step="1" class="form-control">
        </div>
        <div>
            <input type="hidden" name="musicId" th:field="*{musicId}">
        </div>
        <button type="submit" class="btn btn-promary w-100">変更</button>
    </form>
    <a th:href="@{/albums/{albumId}(albumId=${music.albumId})}" class="btn btn-secondary mt-3 w-auto ">アルバムに戻る</a>
    <d ivth:replace="~{layout :: footer}"></div>
</body>
</html>