<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(ユーザ登録)}"></head>
<body class ="bg-danger-subtle">
    <div th:replace="~{layout :: header}"></div>
    <br><br><br><br>
    <h3 class="text-center mt-3">ユーザ登録</h3>
    <form th:action="@{/register}" th:object="${userForm}" method="post" class="w-25 mx-auto mt-4 p-4 border rounded shadow bg-body">
        <div class = "p-2"></div>
        <img src ="https://postfiles.pstatic.net/MjAyNTA2MTZfMjc3/MDAxNzUwMDQyNzU0OTM2.qeZ9x3GkMypfbxq8yPUnr4lvTC3TdKb2nF7tpZZ5C6kg.0Y7kEPbdB1yKynqI2q5ECrWn1ZHPWf4erFRmoM_lXpsg.PNG/%E3%82%BF%E3%82%A4%E3%83%88%E3%83%AB%E3%81%AA%E3%81%97.png?type=w966" class = "w-100">
        <div class = "p-4"></div>
        <div class= "mb-3">
            <label for="username" class="form-label">ユーザ名：</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="ユーザー名を入力" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">パスワード：</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="パスワードを入力" th:field="*{password}">
        </div>
        <button type="submit" class="btn btn-primary w-100">登録</button>
    </form>
    <div th:replace="~{layout :: footer}"></div>
    <br>
</body>
</html>

