<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム詳細)}">
</head>
<body class="bg-danger-subtle">
<div th:replace="~{layout :: header}"></div>
<div class="w-50 mx-auto mt-4"></div>
<br><br><br>
<div th:if="${message}" th:text="${message}" class="alert alert-info " style="color:blue">sample message</div>
<div th:if="${error}" th:text="${error}" class="alert alert-danger" style="color:red">sample message</div>
</div>
<div class="p-3"></div>
<h3 class="text-center">口座詳細</h3>
<table class="table table-bordered w-50 shadow text-center mx-auto">
    <!-- <table class="table-light table-striped table-bordered w-75 mx-auto shadow text-center"> -->

    <tr>
        <th class="table-light">口座ID</th>
        <td th:text="${album.albumId}"></td>
    </tr>
    <tr>
        <th class="table-light">口座名義</th>
        <td th:text="${album.title}"></td>
    </tr>
    <tr>
        <th class="table-light">金額</th>
        <td th:text="${album.artist}"></td>
    </tr>
    <tr>
        <th class="table-light">カテゴリ</th>
        <td th:text="${album.releaseDate}"></td>
    </tr>
    <tr>
        <th class="table-light">作成日時</th>
        <td th:text="${#temporals.format(album.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
</table>
<br>
<br>
<h3 class="text-center">履歴一覧</h3>
<table class="table-light table-striped table-bordered w-75 mx-auto shadow text-center bg-body">
    <theed class="table-light">
    <tr>
        <th>お気に入り</th>
        <th>楽曲ID</th>
        <th>タイトル</th>
        <th>再生時間</th>
        <th>金額</th>
        <th>収入・支出</th>
        <th></th>
    </tr>
    </theed>
    <tr th:each="music : ${musics}">
        <td><span th:text="${music.isFavorite ? '☆' : ''}">☆</span></td>
        <td><span th:text="${music.musicId}">music id</span></td>
        <td><span th:text="${music.title}">music title</span></td>
        <td><span th:text="${#temporals.format(music.duration, 'yyyy-MM-dd')}">music duration</span></td>
        <td><span th:text="${music.price}">music price</span></td>
        <td><span th:text="${types[music.method]}">music method</span></td>
        <td>
            <div class="d-flex justify-content-center">
            <form th:action="@{/albums/{albumId}/musics/{musicId}/edit(albumId=${album.albumId}, musicId=${music.musicId})}"
                method="get">
                <button type="submit" class="btn btn-outline-warning btn-sm mx-2">編集</button>
            </form>
            <form th:action="@{/albums/{albumId}/musics/{musicId}/delete(albumId=${album.albumId}, musicId=${music.musicId})}"
                method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm mx-2" onclick="return confirm('本当に削除しますか？');">削除</button>
            </form>
            <form th:if="${music.isFavorite}" th:action="@{/favorites/delete}" method="post">
                <input type="hidden" name="musicId" th:value="${music.musicId}">
                <input type="hidden" name="albumId" th:value="${album.albumId}">
                <button type="submit" class="btn btn-outline-danger btn-sm mx-2">お気に入り解除 </button>
            </form>
            <form th:unless="${music.isFavorite}" th:action="@{/favorites}" method="post">
                <input type="hidden" name="musicId" th:value="${music.musicId}">
                <input type="hidden" name="albumId" th:value="${album.albumId}">
                <button type="submit" class="btn btn-outline-primary btn-sm mx-2">お気に入り</button>
            </form>
            </div>
        </td>
    </tr>
</table>
<div class="d-flex justify-content-center gap-3">
<a th:href="@{/albums/{albumId}/musics/new(albumId=${album.albumId})}" class="btn btn-primary mt-3 w-25">収入・支出を追加</a>
<a th:href="@{/albums}" class="btn btn-secondary mt-3 w-25">一覧に戻る</a>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>