<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head(アルバム一覧)}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body class ="bg-danger-subtle" style="overflow-x: hidden;">
    <div th:replace="~{layout :: header}"></div>
    <div class="w-75 mx-auto mt-4 mb-5">
      <div th:if="${error}" th:text="${error}" class="alert alert-danger" >sample message</div>
    </div>
    <br>

    
    <!--収支、収益、支出ボックス-->
    <div class="mt-5  mb-5 text-center rounded-3 ">
    <div class="p-4"></div>
    <div class="row justify-content-center">
      <div class="col-sm-3 mb-6">
        <div class="card py-5 shadow">
          <div class="card-body py-2">
            <i class="bi bi-piggy-bank-fill" style="font-size: 5rem; color: #20C997;"></i>
            <h5 class="card-title">収支</h5>
            <p class="card-text">ここに収支を記載する</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-6">
        <div class="card py-5 shadow">
          <div class="card-body py-2">
            <i class="bi bi-arrow-up-circle-fill" style="font-size: 5rem; color: #339AF0;"></i>
            <h5 class="card-title">収益</h5>
            <p class="card-text">ここに収益を記載する</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-6">
        <div class="card py-5 shadow">
          <div class="card-body py-2">
            <i class="bi bi-arrow-down-circle-fill" style="font-size: 5rem; color: #F06595;"></i>
            <h5 class="card-title">支出</h5>
            <p class="card-text">ここに支出を記載する</p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center mt-5">口座一覧</h3> <!--文字入れるところ-->
    <div class="p-2"></div>

   
    <table class="table table-striped table-bordered w-75 mx-auto shadow">
      <thead>
        <tr class="text-center align-middle">
          <th>口座ID</th>
          <th>口座名義</th>
          <th>口座種類</th>
          <th>口座残高</th>
          <th>履歴数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="album : ${albums}" class="text-center align-middle">
          <td><span th:text="${album.albumId}">album id</span></td>
          <td><a th:href="@{/albums/{albumId}(albumId=${album.albumId})}"><span th:text="${album.title}">album title</span></a></td>
          <td><span th:text="${categories[album.artist]}">album artist</span></td>
          <td><span th:text="${album.releaseDate}">album releaseDate</span></td>
          <td><span th:text="${album.musicCount}">album musicCount</span></td>
          <td>
            <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="get">
              <button type="submit" class="btn btn-outline-secondary btn-sm">編集</button>
              <div class="p-1" ></div>
            </form>
            <form th:action="@{/albums/{albumId}/delete(albumId=${album.albumId})}" method="post">
              <button type="submit" onclick="return confirm('本当に削除しますか？');" class="btn btn-outline-secondary btn-sm">削除</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <form th:action="@{/albums/new}">
      <div class="p-1"></div>
        <button type="submit" class="btn btn-secondary btn-lg shadow">口座追加</button>

    </form>
    <div th:replace="~{layout :: footer}"></div>
  <br><br>
  </body>
</html>