<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム一覧)}"></head>
<body class="bg-danger-subtle">
    <div th:replace="~{layout :: header}"></div>
    <br><br><br><br>
    <h3 class="text-center">アルバム登録</h3>
    <form th:action="@{/albums/new}" method="post" class="w-50 mx-auto mt-5 p-4 border rounded shadow bg-body" th:object="${albumForm}">
        <div class="mb-3">
            <label for="title" class="form-label">口座名：</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="口座名を入力" th:field="*{title}">
        </div>
        <div class="mb-3">
            <label for="artist" class="form-label">口座種類：</label>
            <select th:field="*{artist}" id="artist" name="artist" class="form-control" placeholder="口座種類を選択">
                <option value="0" selected>普通預金</option>
                <option value="1">定期預金</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="release-date" class="form-label">金額：</label>
            <input type="number" id="release-date" name="release-date" class="form-control" th:field="*{releaseDate}">
        </div>
        <button type="submit" class="btn btn-primary w-100">追加</button>
   </form>
   <!-- エラーメッセージの表示 -->
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>